// External css

nav{
    background-color: #c1df1f;
    
}
.class_nav{
    font-size: 21px;
    color: #070707;
    font-family: cursive;
    line-height: 50px;
    text-decoration-line: none;
    //text-decoration-style: dotted;
    //text-decoration-color: red;
    //text-decoration: ; // none  inherit overline red 
    //font-weight: bold;
}
.class_nav a:hover{
    text-decoration-line: underline;
    text-decoration-style: wavy;
}
#singup_button{
    background-color:chocolate;
}